db.name = bt
db.class = ch.agent.crnickl.mongodb.MongoDatabase
mongodb.db = test
mongodb.user = guest
mongodb.password = guess it
mongodb.writeConcern = SAFE
dbStrictNameSpace = true

### next is too low, but handy for testing
dbWaitingDelayRange = 50-100

feature.isTransactional=false
feature.supportsRegex=true
feature.isPersistent=true


